<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GaripSozluk.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <nav class="navbar bg-dark navbar-dark border-bottom sticky-top shadow content">
        <a href="/Home/Index"> <img src="/logo.png" width="100" height="60" class="d-inline-block align-top" alt=""></a>
        <div class="container">
            <div class="row sticky-top">
                <nav class="navbar-brand col-md-2" asp-area="" asp-controller="Home" asp-action="Index">Garip Sözlük</nav>
                <form class="form-inline" asp-controller="Post" asp-action="Search" method="post">
                    <input class="form-control mr-sm-2 col-md-8" name="searchText" type="text" placeholder="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
                <a class="btn btn-link text-light" href="/Post/DetailedSearch">Detaylı Ara</a>
                <a class="btn btn-link text-light" href="/WebApi/Search">Web Api</a>
                <a class="btn btn-link text-light" href="/Log/Index">Log</a>
                <a class="btn btn-link text-light" href="/ApiPost/GetPosts">Post Getir</a>
                <a class="btn btn-link text-light" asp-controller="Post" asp-action="Random">Rastgele</a>

                <div class="col-md-1"></div>

                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-link text-light" href="/Account/Register">Kayıt ol</a>
                    <a class="btn btn-link text-light col-md-1" href="/Account/Login">Giriş Yap</a>
                    <a class="btn btn-link text-light col-md-1" href="/Account/ForgotPassword">Şifremi Unuttum</a>
                }
                else
                {
                    @if (ViewBag.SelectedCategory != null)
                    {
                        <a class="btn btn-link text-light" asp-area="" asp-route-addPostId="@ViewBag.SelectedCategory.Id" asp-controller="Post" asp-action="AddPost">Başlık Aç</a>
                    }
                    <a class="btn btn-link text-light" href="/PostCategory/AddPostCategory">Kategori Aç</a>
                    <a class="btn btn-link text-light" href="#">@User.Identity.Name</a>
                    <h4><a class="btn btn-light" href="@Url.Action("Logout", "Account")">Çıkış</a></h4> @*<a class="btn btn-link text-light col-md-1" href="/User/GetBlockedUsers">Engellenen Kullanıcılar</a>*@
                    @if (ViewBag.UserInfo != null)
                    {
                        <a class="nav-link text-light col-md-2" asp-area="" asp-route-blockCurrentUserId="@ViewBag.UserInfo.UserId" asp-controller="User" asp-action="GetBlockedUsers">Engellenen Kullanıcılar</a>
                    }
                }
                <div class="row col-12">
                    <div class="navbar-collapse bg-dark navbar-dark collapse d-sm-inline-flex flex-sm-row-reverse col-12">
                        @*print all categories*@
                        @if (ViewBag.CategoryList != null)
                        {
                            @foreach (var item in ViewBag.CategoryList)
                            {
                                <div class="col-md-2">
                                    <a class="nav-link text-light col-md-2" asp-area="" asp-route-postCategoryId="@item.Id" asp-controller="Home" asp-action="Index">#@item.Title</a>
                                </div>
                            }
                         }
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="group col-md-2 border" style="overflow:auto;height:100%; position:fixed;">
            <br />
            @*display posts from selected category in left edge*@
            <ul class="list-group">
                @if (ViewBag.PostList != null && ViewBag.SelectedCategory != null)
                {                      
                    <h1 class="display-6">@ViewBag.SelectedCategory.Title</h1>
                    @foreach (var item in ViewBag.PostList)
                    {
                        <li class="list-group-item border-0">
                            @if (ViewBag.postCategoryId == 6)
                            {
                                <a class="btn btn-light d-flex justify-content-between align-items-center" asp-route-itemTitle="@item.Post.Title" asp-route-postCategoryId="@ViewBag.postCategoryId" asp-controller="WebApi" asp-action="SearchFromPost" asp-route-Id="@item.Post.Id">
                                    @item.Post.Title
                                    @{
                                        var entryCount = (item.EntryList?.Count - 1 ?? 0);
                                        if (entryCount > 0)
                                        {
                                            <span class="badge badge-primary badge-pill">@entryCount</span> 
                                        } 
                                    }
                                </a>
                            }
                            @if (ViewBag.postCategoryId == 7)
                            {
                                <a class="btn btn-light d-flex justify-content-between align-items-center" asp-route-itemTitle="@item.Post.Title" asp-route-postCategoryId="@ViewBag.postCategoryId" asp-controller="WebApi" asp-action="SearchFromPost" asp-route-Id="@item.Post.Id">
                                    @item.Post.Title
                                    @{ 
                                        var entryCount = (item.EntryList?.Count - 1 ?? 0);
                                        if (entryCount > 0)
                                        {
                                            <span class="badge badge-primary badge-pill">@entryCount</span> 
                                        }
                                    }
                                </a>
                            }
                            @if (ViewBag.postCategoryId != 7 && ViewBag.postCategoryId != 6)
                            {
                                <a class="btn btn-light d-flex justify-content-between align-items-center" asp-route-postCategoryId="@ViewBag.postCategoryId" asp-controller="Home" asp-action="index" asp-route-postId="@item.Post.Id">
                                    @item.Post.Title
                                    @{
                                        var entryCount = (item.EntryList?.Count - 1 ?? 0);
                                        if (entryCount > 0)
                                        {
                                            <span class="badge badge-primary badge-pill">@entryCount</span> 
                                        } 
                                
                                    }
                                </a> 
                             }
                        </li>
                     }
                 }
            </ul>
        </div>

        <div class="col-md-1"></div>
        <div class="container col-md-8">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @*@RenderBody()*@
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>



