@model GaripSozluk.Common.ViewModels.PostWithEntriesWithPaginationViewModel

@{ ViewData["Title"] = "Home Page"; }


@if (Model != null)
{
    <h1 class="display-3">@Model.Post.Title</h1>
    <h1 class="display-4">@Model.Post.ClickCount  Views</h1>
    @foreach (var item in Model.EntryList)
     {
        <div class="col-9">
            <div class="row border m-4 p-2">
                <p style="margin-right:auto; text-align:left">@item.Content</p>
                <p style="margin-right:auto; text-align:left">@item.UserName</p>
                <p style="margin-right:auto; text-align:left">@item.CreateDate</p>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-success col-md-2" asp-area="" asp-route-entryLikeId="@item.Id" asp-route-postId="@Model.Post.Id" asp-controller="Entry" asp-action="Like">Beğen @item.LikeCount</a>
                    <a class="nav-link text-danger col-md-2" asp-area="" asp-route-entryDislikeId="@item.Id" asp-route-postId="@Model.Post.Id" asp-controller="Entry" asp-action="Dislike">Beğenme @item.DislikeCount</a>
                    @if( ViewBag.UserInfo.UserId == item.UserId)
                    {
                        <a class="nav-link text-dark col-md-2" asp-area="" asp-route-Id="@item.Id" asp-route-postId="@Model.Post.Id" asp-controller="Entry" asp-action="UpdateEntry">Düzenle</a>
                    }
                    else
                    {
                        <a class="nav-link text-dark col-md-2" asp-area="" asp-route-blockUserId="@item.UserId" asp-route-postId="@Model.Post.Id" asp-controller="User" asp-action="Block">Engelle</a>
                    }                                    
                }
            </div>

         </div>
     } 
 } 

@if (User.Identity.IsAuthenticated)
{
    @if (Model != null)
    {
        <a class="btn btn-link text-dark" asp-area="" asp-route-postId="@Model.Post.Id" asp-controller="Entry" asp-action="AddEntry">Yorum Ekle</a>
    }
}


@if (Model != null)
 {
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" asp-area="" asp-route-selectPageNumber="@Model.PreviousPage">Geri</a>
                            </li>
                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                if (i == Model.CurrentPage)
                                {
                                    <li class="page-item active"><a class="page-link">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" asp-area="" asp-route-selectPageNumber="@i">@i</a></li>
                                }
                             }
                            <li class="page-item"><a class="page-link" asp-area="" asp-route-selectPageNumber="@Model.NextPage">İleri</a></li>
                        </ul>
                    </nav>
                </div>
            </div> 
 } 



